<div class="container">
	<div class="layout">
		<div class="sidebar" ng-class="{'open': showSidebar}">
			<h2>Add a Project</h2>
			<form ng-submit="submitProject()">
				<div class="form-entry">
					<label for="projectEntry" class="label">Project Name</label>
					<input class="form-input" ng-model="project.projectName" type="text" />
				</div>
				<input type="submit" value="Add Project" />
			</form>
		</div>
		<div class="main" ng-class="{'open': showSidebar}">
			<h2>Projects</h2>
			<table>
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Total Hours Logged</th>
					</tr>
				</thead>
			<tr ng-repeat="project in projects">
				<td>{{ project.projectName }}</td>
				<td>{{ project.projectHours }}</td>
			</tr>
			</table>
		</div>
	</div>
</div>